<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>new</title>
</head>
<body>
	<h1>我是 comments new</h1>
	<form method="post">
		<textarea name="comment" cols="80" rows="8"></textarea>
		<div>
			<input type="submit" value="Comment">
		</div>
	</form>
</body>
</html>