<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>socket-io</title>
</head>
<body>
	<h1>socket</h1>
		<input type="text" name="message" value="" id="message">
		<button id='btn'>send</button>
	<div id="conent">
		
	</div>
	<script type="text/javascript" src='//cdn.bootcss.com/jquery/3.2.1/jquery.min.js'></script>
	<script type="text/javascript" src='/socket.io/socket.io.js'></script>
	<script type="text/javascript">
		let socket = io();
		$('#btn').click( function (){
			if ($("#message").val()) {
				// 模拟事件
				socket.emit('message', $("#message").val());
				$("#message").val('');
				return false;
			} else {
				alert("内容不能为空");
				return false;	
			}
		})
		socket.on('message', function(message) {
			$('<div>').text(message).appendTo($('#conent'));
		})
	</script>
</body>
</html>